---
title: IMFData.jl
author: stephenbnicar
execute:
  echo: true
format:
  html:
    code-fold: true
    code-tools: true
    toc: true
    echo: false
keep-ipynb: true
---

[Code](https://github.com/stephenbnicar/IMFData.jl)

[Examples](https://github.com/stephenbnicar/IMFData.jl/blob/master/examples/examples.jl)

In [1]:
#import Pkg; Pkg.add("IMFData")
using CSV, DataFrames, DataFramesMeta, IMFData

wd = @__DIR__

"C:\\Directorio_Trabajo\\Julia\\IMFData"

# General Functions

## Get a list of datasets accessible from the API

Note: While the function `get_imf_datasets()` returns a list of all available datasets, currently the module only supports data requests from the International Financial Statistics (IFS) dataset.

In [2]:
# Get a list of datasets accessible from the API:
data = IMFData.get_imf_datasets()
names(data)
data = DataFrames.DataFrame(
    dataset_id = data.dataset_id,
    dataset_name = data.dataset_name)

df = DataFrames.DataFrame([[],[]], ["dataset_id", "dataset_name"])
for i in 1:size(data)[1]
    push!(df, (data[i,1],data[i,2]))
end
df.dataset_id = string.(df.dataset_id)
df.dataset_name = string.(df.dataset_name)
CSV.write(
    wd * "/IMFData.csv",
    delim = ";",
    df)

"C:\\Directorio_Trabajo\\Julia\\IMFData/IMFData.csv"

## Get the list of parameters ("dimensions") for a dataset and their values

In [3]:
ifs_structure = get_imf_datastructure("IFS")

Dict{String, Any} with 2 entries:
  "Parameter Names"  => 5×2 DataFrame…
  "Parameter Values" => Dict{Any, Any}("CL_INDICATOR_IFS"=>1679×2 DataFrame…

### Parameter Names

In [4]:
collect(values(ifs_structure))[1]

5×2 DataFrame
 Row │ parameter_id      parameter_name
     │ String            String
─────┼──────────────────────────────────────
   1 │ CL_UNIT_MULT      Scale
   2 │ CL_FREQ           Frequency
   3 │ CL_AREA_IFS       Geographical Areas
   4 │ CL_INDICATOR_IFS  Indicator
   5 │ CL_TIME_FORMAT    Time format

### Parameter Values

In [5]:
collect(values(ifs_structure))[2]

Dict{Any, Any} with 5 entries:
  "CL_INDICATOR_IFS" => 1679×2 DataFrame…
  "CL_UNIT_MULT"     => 31×2 DataFrame…
  "CL_TIME_FORMAT"   => 6×2 DataFrame…
  "CL_AREA_IFS"      => 278×2 DataFrame…
  "CL_FREQ"          => 6×2 DataFrame…

1. "CL_UNIT_MULT"

In [6]:
collect(collect(values(ifs_structure))[2])[2]

Pair{Any, Any}("CL_UNIT_MULT", 31×2 DataFrame
 Row │ parameter_value  description
     │ String           String
─────┼──────────────────────────────────────
   1 │ 0                Units
   2 │ 2                Hundreds
   3 │ 3                Thousands
   4 │ 6                Millions
   5 │ 9                Billions
   6 │ 12               Trillions
   7 │ N15              Quadrillionths
   8 │ N14              Hundred Trillionths
   9 │ N13              Ten Trillionths
  10 │ N12              Trillionths
  11 │ N11              Hundred Billionths
  ⋮  │        ⋮                  ⋮
  22 │ 1                Tens
  23 │ 4                Ten Thousands
  24 │ 5                Hundred Thousands
  25 │ 7                Ten Millions
  26 │ 8                Hundred Millions
  27 │ 10               Ten Billions
  28 │ 11               Hundred Billions
  29 │ 13               Ten Trillions
  30 │ 14               Hundred Trillions
  31 │ 15               Quadrillions
                             10 rows omitted)

2. "CL_FREQ"

In [7]:
collect(collect(values(ifs_structure))[2])[5]

Pair{Any, Any}("CL_FREQ", 6×2 DataFrame
 Row │ parameter_value  description
     │ String           String
─────┼──────────────────────────────
   1 │ A                Annual
   2 │ B                Bi-annual
   3 │ Q                Quarterly
   4 │ M                Monthly
   5 │ D                Daily
   6 │ W                Weekly)

3. "CL_AREA_IFS"

In [8]:
collect(collect(values(ifs_structure))[2])[4]

Pair{Any, Any}("CL_AREA_IFS", 278×2 DataFrame
 Row │ parameter_value  description
     │ String           String
─────┼────────────────────────────────────────────────────
   1 │ AF               Afghanistan
   2 │ AL               Albania
   3 │ DZ               Algeria
   4 │ AD               Andorra
   5 │ AO               Angola
   6 │ AI               Anguilla
   7 │ AG               Antigua and Barbuda
   8 │ 5M               AMF (Arab Monetary Fund)
   9 │ AR               Argentina
  10 │ AM               Armenia
  11 │ AW               Aruba
  ⋮  │        ⋮                         ⋮
 269 │ XR21             Oil-exporting Countries (IMF)
 270 │ XA69             Other Central America not alloca…
 271 │ 1C_970           Other Holders
 272 │ 1C_SRF_less_EMU  SRF (excluding EA)
 273 │ 1C_SRF_plus_EMU  SRF (including EA)
 274 │ 1C_SRF           SRF Countries
 275 │ F6               Sub-Saharan Africa
 276 │ 7A               WAEMU (West African Economic and…
 277 │ A10              Western Hemisphere
 278 │ W00              All Countries, excluding the IO
                                          257 rows omitted)

4. "CL_INDICATOR_IFS"

In [9]:
collect(collect(values(ifs_structure))[2])[1]

Pair{Any, Any}("CL_INDICATOR_IFS", 1679×2 DataFrame
  Row │ parameter_value    description
      │ String             String
──────┼──────────────────────────────────────────────────────
    1 │ NFIAXD_XDC         Acquisitions less Disposals of V…
    2 │ NFIAXD_SA_XDC      Acquisitions less Disposals of V…
    3 │ NFIAXD_NSA_XDC     Acquisitions less Disposals of V…
    4 │ NFIAXD_R_XDC       Acquisitions less Disposals of V…
    5 │ NFIAXD_R_SA_XDC    Acquisitions less Disposals of V…
    6 │ NFIAXD_R_NSA_XDC   Acquisitions less Disposals of V…
    7 │ IAFR_BP6_USD       International Investment Positio…
    8 │ IADD_BP6_USD       International Investment Positio…
    9 │ IADE_BP6_USD       International Investment Positio…
   10 │ IAD_BP6_USD        International Investment Positio…
   11 │ IADF_BP6_USD       International Investment Positio…
  ⋮   │         ⋮                          ⋮
 1670 │ BTCC_BP6_USD       Balance of Payments, Supplementa…
 1671 │ RAFA_G_XDR         Total International Reserves, SD…
 1672 │ RAFA_G_USD         Total International Reserves, US…
 1673 │ RAFA_MV_USD        Total Reserves, US Dollars (Gold…
 1674 │ AOTV_PE_NUM        Tourism, Number of Visitors, Per…
 1675 │ LU_PE_NUM          Unemployment, Persons, Number of
 1676 │ LU_PE_PC_CP_A_PT   Unemployment, Persons, Percentag…
 1677 │ LU_PE_PC_PP_PT     Unemployment, Persons, Percentag…
 1678 │ 1C_ALL_INDICATORS  All Indicators
 1679 │ MFS                Monetary and Financial Statistic…
                                            1658 rows omitted)

5. "CL_TIME_FORMAT"

In [10]:
collect(collect(values(ifs_structure))[2])[3]

Pair{Any, Any}("CL_TIME_FORMAT", 6×2 DataFrame
 Row │ parameter_value  description
     │ String           String
─────┼──────────────────────────────
   1 │ P1Y              Annual
   2 │ P6M              Bi-annual
   3 │ P3M              Quarterly
   4 │ P1M              Monthly
   5 │ P7D              Weekly
   6 │ P1D              Daily)

## Filter Datasets by Key

In [11]:
datasets = IMFData.get_imf_datasets()
# Use @where macro from DataFramesMeta to filter based on dataset name
#ds_ifs = @where(datasets, occursin.("IFS", :dataset_id))
ds_ifs = DataFramesMeta.@subset(datasets, occursin.("IFS", :dataset_id))

71×2 DataFrame
 Row │ dataset_id        dataset_name
     │ String            String
─────┼─────────────────────────────────────────────────────
   1 │ IFS               International Financial Statisti…
   2 │ IFS_2017M08       International Financial Statisti…
   3 │ IFS_2017M09       International Financial Statisti…
   4 │ IFS_2017M10       International Financial Statisti…
   5 │ IFS_2017M11       International Financial Statisti…
   6 │ IFS_2017M12       International Financial Statisti…
   7 │ IFS_2018M01       International Financial Statisti…
   8 │ IFS_2018M02       International Financial Statisti…
   9 │ IFS_2018M03       International Financial Statisti…
  10 │ IFS_2018M04       International Financial Statisti…
  11 │ IFS_2018M05       International Financial Statisti…
  ⋮  │        ⋮                          ⋮
  62 │ IFS_2022M08       International Financial Statisti…
  63 │ IFS_2022M09       International Financial Statisti…
  64 │ IFS_2022M10       International Financial Statisti…
  65 │ IFS_2022M11       International Financial Statisti…
  66 │ IFS_2023M01       International Financial Statisti…
  67 │ IFS_2023M02       International Financial Statisti…
  68 │ IFS_2023M03       International Financial Statisti…
  69 │ IFS_2023M04       International Financial Statisti…
  70 │ IFS_2023M05       International Financial Statisti…
  71 │ IFS_DISCONTINUED  International Financial Statisti…
                                            50 rows omitted

In [12]:
#ds_dot = @where(datasets, occursin.("DOT", :dataset_id))
ds_dot = DataFramesMeta.@subset(datasets, occursin.("DOT", :dataset_id))

26×2 DataFrame
 Row │ dataset_id  dataset_name
     │ String      String
─────┼───────────────────────────────────────────────
   1 │ DOT         Direction of Trade Statistics (D…
   2 │ DOT_2017Q1  Direction of Trade Statistics (D…
   3 │ DOT_2017Q2  Direction of Trade Statistics (D…
   4 │ DOT_2017Q3  Direction of Trade Statistics (D…
   5 │ DOT_2017Q4  Direction of Trade Statistics (D…
   6 │ DOT_2018Q1  Direction of Trade Statistics (D…
   7 │ DOT_2018Q2  Direction of Trade Statistics (D…
   8 │ DOT_2018Q3  Direction of Trade Statistics (D…
   9 │ DOT_2018Q4  Direction of Trade Statistics (D…
  10 │ DOT_2019Q1  Direction of Trade Statistics (D…
  11 │ DOT_2019Q2  Direction of Trade Statistics (D…
  ⋮  │     ⋮                       ⋮
  17 │ DOT_2020Q4  Direction of Trade Statistics (D…
  18 │ DOT_2021Q1  Direction of Trade Statistics (D…
  19 │ DOT_2021Q2  Direction of Trade Statistics (D…
  20 │ DOT_2021Q3  Direction of Trade Statistics (D…
  21 │ DOT_2021Q4  Direction of Trade Statistics (D…
  22 │ DOT_2022Q1  Direction of Trade Statistics (D…
  23 │ DOT_2022Q2  Direction of Trade Statistics (D…
  24 │ DOT_2022Q3  Direction of Trade Statistics (D…
  25 │ DOT_2022Q4  Direction of Trade Statistics (D…
  26 │ DOT_2023Q1  Direction of Trade Statistics (D…
                                       5 rows omitted

# Retrieve data from the IFS dataset

## With one request:

In [13]:
us_gdp = get_ifs_data("US", "NGDP_SA_XDC", "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 293 x 2 DataFrame

In [14]:
us_gdp.series

293×2 DataFrame
 Row │ date        value
     │ Date        Float64
─────┼───────────────────────────
   1 │ 1950-03-01  70207.0
   2 │ 1950-06-01  72595.8
   3 │ 1950-09-01  77038.3
   4 │ 1950-12-01  79986.3
   5 │ 1951-03-01  84000.0
   6 │ 1951-06-01  86022.5
   7 │ 1951-09-01  87846.3
   8 │ 1951-12-01  89044.5
   9 │ 1952-03-01  89955.0
  10 │ 1952-06-01  90257.5
  11 │ 1952-09-01  91925.3
  ⋮  │     ⋮             ⋮
 284 │ 2020-12-01      5.42618e6
 285 │ 2021-03-01      5.57846e6
 286 │ 2021-06-01      5.76173e6
 287 │ 2021-09-01      5.8876e6
 288 │ 2021-12-01      6.08728e6
 289 │ 2022-03-01      6.18512e6
 290 │ 2022-06-01      6.31212e6
 291 │ 2022-09-01      6.43099e6
 292 │ 2022-12-01      6.5345e6
 293 │ 2023-03-01      6.63244e6
                 272 rows omitted

## With multiple requests:

In [15]:
countries = ["US","CA"]
indicators = ["NGDP_SA_XDC"]
us_ca_gdp = get_ifs_data(countries, indicators, "Q", 1900, 2100)

2-element Vector{IMFSeries}:
 IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 293 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: CA
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1961 to 2023
Data: 249 x 2 DataFrame

In [16]:
us_ca_gdp[1].series

293×2 DataFrame
 Row │ date        value
     │ Date        Float64
─────┼───────────────────────────
   1 │ 1950-03-01  70207.0
   2 │ 1950-06-01  72595.8
   3 │ 1950-09-01  77038.3
   4 │ 1950-12-01  79986.3
   5 │ 1951-03-01  84000.0
   6 │ 1951-06-01  86022.5
   7 │ 1951-09-01  87846.3
   8 │ 1951-12-01  89044.5
   9 │ 1952-03-01  89955.0
  10 │ 1952-06-01  90257.5
  11 │ 1952-09-01  91925.3
  ⋮  │     ⋮             ⋮
 284 │ 2020-12-01      5.42618e6
 285 │ 2021-03-01      5.57846e6
 286 │ 2021-06-01      5.76173e6
 287 │ 2021-09-01      5.8876e6
 288 │ 2021-12-01      6.08728e6
 289 │ 2022-03-01      6.18512e6
 290 │ 2022-06-01      6.31212e6
 291 │ 2022-09-01      6.43099e6
 292 │ 2022-12-01      6.5345e6
 293 │ 2023-03-01      6.63244e6
                 272 rows omitted

In [17]:
us_ca_gdp[2].series

249×2 DataFrame
 Row │ date        value
     │ Date        Float64
─────┼──────────────────────
   1 │ 1961-03-01   10168.0
   2 │ 1961-06-01   10392.0
   3 │ 1961-09-01   10670.0
   4 │ 1961-12-01   10869.0
   5 │ 1962-03-01   11174.0
   6 │ 1962-06-01   11300.0
   7 │ 1962-09-01   11536.0
   8 │ 1962-12-01   11806.0
   9 │ 1963-03-01   11917.0
  10 │ 1963-06-01   12161.0
  11 │ 1963-09-01   12361.0
  ⋮  │     ⋮          ⋮
 240 │ 2020-12-01  580142.0
 241 │ 2021-03-01  605757.0
 242 │ 2021-06-01  615698.0
 243 │ 2021-09-01  632619.0
 244 │ 2021-12-01  655544.0
 245 │ 2022-03-01  678819.0
 246 │ 2022-06-01  706044.0
 247 │ 2022-09-01  701535.0
 248 │ 2022-12-01  696247.0
 249 │ 2023-03-01  703421.0
            228 rows omitted

In [18]:
# Pasar a DataFrame
df = []
dftemp = []
i = 1
for i in 1:size(countries)[1]
    dftemp = us_ca_gdp[i].series;
    dftemp[:,:country] .= countries[i];
    dftemp[:,:indicator] .= indicators[1];
    df = push!(df,dftemp)
end
df = vcat(df...)

542×4 DataFrame
 Row │ date        value     country  indicator
     │ Date        Float64   String   String
─────┼────────────────────────────────────────────
   1 │ 1950-03-01   70207.0  US       NGDP_SA_XDC
   2 │ 1950-06-01   72595.8  US       NGDP_SA_XDC
   3 │ 1950-09-01   77038.3  US       NGDP_SA_XDC
   4 │ 1950-12-01   79986.3  US       NGDP_SA_XDC
   5 │ 1951-03-01   84000.0  US       NGDP_SA_XDC
   6 │ 1951-06-01   86022.5  US       NGDP_SA_XDC
   7 │ 1951-09-01   87846.3  US       NGDP_SA_XDC
   8 │ 1951-12-01   89044.5  US       NGDP_SA_XDC
   9 │ 1952-03-01   89955.0  US       NGDP_SA_XDC
  10 │ 1952-06-01   90257.5  US       NGDP_SA_XDC
  11 │ 1952-09-01   91925.3  US       NGDP_SA_XDC
  ⋮  │     ⋮          ⋮         ⋮          ⋮
 533 │ 2020-12-01  580142.0  CA       NGDP_SA_XDC
 534 │ 2021-03-01  605757.0  CA       NGDP_SA_XDC
 535 │ 2021-06-01  615698.0  CA       NGDP_SA_XDC
 536 │ 2021-09-01  632619.0  CA       NGDP_SA_XDC
 537 │ 2021-12-01  655544.0  CA       NGDP_SA_XDC
 538 │ 2022-03-01  678819.0  CA       NGDP_SA_XDC
 539 │ 2022-06-01  706044.0  CA       NGDP_SA_XDC
 540 │ 2022-09-01  701535.0  CA       NGDP_SA_XDC
 541 │ 2022-12-01  696247.0  CA       NGDP_SA_XDC
 542 │ 2023-03-01  703421.0  CA       NGDP_SA_XDC
                                  521 rows omitted

# Examples


## IFS indicators

### Indicators: "CL_INDICATOR_IFS"

In [19]:
ifs_structure  = get_imf_datastructure("IFS")
ifs_indicators = ifs_structure["Parameter Values"]["CL_INDICATOR_IFS"]

1679×2 DataFrame
  Row │ parameter_value    description
      │ String             String
──────┼──────────────────────────────────────────────────────
    1 │ NFIAXD_XDC         Acquisitions less Disposals of V…
    2 │ NFIAXD_SA_XDC      Acquisitions less Disposals of V…
    3 │ NFIAXD_NSA_XDC     Acquisitions less Disposals of V…
    4 │ NFIAXD_R_XDC       Acquisitions less Disposals of V…
    5 │ NFIAXD_R_SA_XDC    Acquisitions less Disposals of V…
    6 │ NFIAXD_R_NSA_XDC   Acquisitions less Disposals of V…
    7 │ IAFR_BP6_USD       International Investment Positio…
    8 │ IADD_BP6_USD       International Investment Positio…
    9 │ IADE_BP6_USD       International Investment Positio…
   10 │ IAD_BP6_USD        International Investment Positio…
   11 │ IADF_BP6_USD       International Investment Positio…
  ⋮   │         ⋮                          ⋮
 1670 │ BTCC_BP6_USD       Balance of Payments, Supplementa…
 1671 │ RAFA_G_XDR         Total International Reserves, SD…
 1672 │ RAFA_G_USD         Total International Reserves, US…
 1673 │ RAFA_MV_USD        Total Reserves, US Dollars (Gold…
 1674 │ AOTV_PE_NUM        Tourism, Number of Visitors, Per…
 1675 │ LU_PE_NUM          Unemployment, Persons, Number of
 1676 │ LU_PE_PC_CP_A_PT   Unemployment, Persons, Percentag…
 1677 │ LU_PE_PC_PP_PT     Unemployment, Persons, Percentag…
 1678 │ 1C_ALL_INDICATORS  All Indicators
 1679 │ MFS                Monetary and Financial Statistic…
                                            1658 rows omitted

In [20]:
ifs_indicators.parameter_value

1679-element Vector{String}:
 "NFIAXD_XDC"
 "NFIAXD_SA_XDC"
 "NFIAXD_NSA_XDC"
 "NFIAXD_R_XDC"
 "NFIAXD_R_SA_XDC"
 "NFIAXD_R_NSA_XDC"
 "IAFR_BP6_USD"
 "IADD_BP6_USD"
 "IADE_BP6_USD"
 "IAD_BP6_USD"
 "IADF_BP6_USD"
 "IAOE_BP6_USD"
 "IAO_BP6_USD"
 ⋮
 "BTRUE_BP6_USD"
 "BXISXF_BP6_USD"
 "BTCC_BP6_USD"
 "RAFA_G_XDR"
 "RAFA_G_USD"
 "RAFA_MV_USD"
 "AOTV_PE_NUM"
 "LU_PE_NUM"
 "LU_PE_PC_CP_A_PT"
 "LU_PE_PC_PP_PT"
 "1C_ALL_INDICATORS"
 "MFS"

In [21]:
ifs_indicators.description

1679-element Vector{String}:
 "Acquisitions less Disposals of Valuables, Nominal, Domestic Currency"
 "Acquisitions less Disposals of " ⋯ 27 bytes ⋯ "lly Adjusted, Domestic Currency"
 "Acquisitions less Disposals of " ⋯ 18 bytes ⋯ ", Unadjusted, Domestic Currency"
 "Acquisitions less Disposals of Valuables, Real, Domestic Currency"
 "Acquisitions less Disposals of " ⋯ 24 bytes ⋯ "lly Adjusted, Domestic Currency"
 "Acquisitions less Disposals of Valuables, Real, Unadjusted, Domestic Currency"
 "International Investment Positi" ⋯ 40 bytes ⋯ " (with Fund Record), US Dollars"
 "International Investment Positi" ⋯ 29 bytes ⋯ "t, Debt instruments, US Dollars"
 "International Investment Positi" ⋯ 47 bytes ⋯ "stment fund shares , US Dollars"
 "International Investment Positions, Assets, Direct investment, US Dollars"
 "International Investment Positi" ⋯ 57 bytes ⋯ "oyee stock options , US Dollars"
 "International Investment Positi" ⋯ 26 bytes ⋯ "ent,  Other equity , US Dollars"
 "International Investment Positions, Assets, Other investment , US Dollars"
 ⋮
 "Balance of Payments, Supplement" ⋯ 18 bytes ⋯ "s and related items, US Dollars"
 "Balance of Payments, Supplement" ⋯ 50 bytes ⋯ "eptional financing), US Dollars"
 "Balance of Payments, Supplement" ⋯ 23 bytes ⋯ "t + Capital Account, US Dollars"
 "Total International Reserves, SDRs (gold at 35 SDRs per ounce)"
 "Total International Reserves, US Dollars (gold at 35 SDRs per ounce)"
 "Total Reserves, US Dollars (Gold at Market Price)"
 "Tourism, Number of Visitors, Persons, Number of"
 "Unemployment, Persons, Number of"
 "Unemployment, Persons, Percenta" ⋯ 23 bytes ⋯ "g period previous year, Percent"
 "Unemployment, Persons, Percentage change, previous period, Percent"
 "All Indicators"
 "Monetary and Financial Statistics (MFS)"

In [22]:
CSV.write(
    wd * "/IFS_Indicators.csv",
    delim = ";",
    ifs_indicators)

"C:\\Directorio_Trabajo\\Julia\\IMFData/IFS_Indicators.csv"

### Units: "CL_UNIT_MULT"

In [23]:
ifs_units = ifs_structure["Parameter Values"]["CL_UNIT_MULT"]

31×2 DataFrame
 Row │ parameter_value  description
     │ String           String
─────┼──────────────────────────────────────
   1 │ 0                Units
   2 │ 2                Hundreds
   3 │ 3                Thousands
   4 │ 6                Millions
   5 │ 9                Billions
   6 │ 12               Trillions
   7 │ N15              Quadrillionths
   8 │ N14              Hundred Trillionths
   9 │ N13              Ten Trillionths
  10 │ N12              Trillionths
  11 │ N11              Hundred Billionths
  ⋮  │        ⋮                  ⋮
  22 │ 1                Tens
  23 │ 4                Ten Thousands
  24 │ 5                Hundred Thousands
  25 │ 7                Ten Millions
  26 │ 8                Hundred Millions
  27 │ 10               Ten Billions
  28 │ 11               Hundred Billions
  29 │ 13               Ten Trillions
  30 │ 14               Hundred Trillions
  31 │ 15               Quadrillions
                             10 rows omitted

In [24]:
ifs_units.description

31-element Vector{String}:
 "Units"
 "Hundreds"
 "Thousands"
 "Millions"
 "Billions"
 "Trillions"
 "Quadrillionths"
 "Hundred Trillionths"
 "Ten Trillionths"
 "Trillionths"
 "Hundred Billionths"
 "Ten Billionths"
 "Billionths"
 ⋮
 "Hundredths"
 "Tenths"
 "Tens"
 "Ten Thousands"
 "Hundred Thousands"
 "Ten Millions"
 "Hundred Millions"
 "Ten Billions"
 "Hundred Billions"
 "Ten Trillions"
 "Hundred Trillions"
 "Quadrillions"

### Time Format: "CL_TIME_FORMAT"

In [25]:
ifs_time = ifs_structure["Parameter Values"]["CL_TIME_FORMAT"]

6×2 DataFrame
 Row │ parameter_value  description
     │ String           String
─────┼──────────────────────────────
   1 │ P1Y              Annual
   2 │ P6M              Bi-annual
   3 │ P3M              Quarterly
   4 │ P1M              Monthly
   5 │ P7D              Weekly
   6 │ P1D              Daily

In [26]:
ifs_time.description

6-element Vector{String}:
 "Annual"
 "Bi-annual"
 "Quarterly"
 "Monthly"
 "Weekly"
 "Daily"

### Countries: "CL_AREA_IFS"

In [27]:
ifs_countries = ifs_structure["Parameter Values"]["CL_AREA_IFS"]

278×2 DataFrame
 Row │ parameter_value  description
     │ String           String
─────┼────────────────────────────────────────────────────
   1 │ AF               Afghanistan
   2 │ AL               Albania
   3 │ DZ               Algeria
   4 │ AD               Andorra
   5 │ AO               Angola
   6 │ AI               Anguilla
   7 │ AG               Antigua and Barbuda
   8 │ 5M               AMF (Arab Monetary Fund)
   9 │ AR               Argentina
  10 │ AM               Armenia
  11 │ AW               Aruba
  ⋮  │        ⋮                         ⋮
 269 │ XR21             Oil-exporting Countries (IMF)
 270 │ XA69             Other Central America not alloca…
 271 │ 1C_970           Other Holders
 272 │ 1C_SRF_less_EMU  SRF (excluding EA)
 273 │ 1C_SRF_plus_EMU  SRF (including EA)
 274 │ 1C_SRF           SRF Countries
 275 │ F6               Sub-Saharan Africa
 276 │ 7A               WAEMU (West African Economic and…
 277 │ A10              Western Hemisphere
 278 │ W00              All Countries, excluding the IO
                                          257 rows omitted

In [28]:
ifs_countries.description

278-element Vector{String}:
 "Afghanistan"
 "Albania"
 "Algeria"
 "Andorra"
 "Angola"
 "Anguilla"
 "Antigua and Barbuda"
 "AMF (Arab Monetary Fund)"
 "Argentina"
 "Armenia"
 "Aruba"
 "Australia"
 "Austria"
 ⋮
 "Non-oil Developing Countries (IMF)"
 "Non SRF countries"
 "Oil-exporting Countries (IMF)"
 "Other Central America not allocated (IMF)"
 "Other Holders"
 "SRF (excluding EA)"
 "SRF (including EA)"
 "SRF Countries"
 "Sub-Saharan Africa"
 "WAEMU (West African Economic and Monetary Union)"
 "Western Hemisphere"
 "All Countries, excluding the IO"

### frequency: "CL_FREQ"

In [29]:
ifs_frequency = ifs_structure["Parameter Values"]["CL_FREQ"]

6×2 DataFrame
 Row │ parameter_value  description
     │ String           String
─────┼──────────────────────────────
   1 │ A                Annual
   2 │ B                Bi-annual
   3 │ Q                Quarterly
   4 │ M                Monthly
   5 │ D                Daily
   6 │ W                Weekly

In [30]:
ifs_frequency.description

6-element Vector{String}:
 "Annual"
 "Bi-annual"
 "Quarterly"
 "Monthly"
 "Daily"
 "Weekly"

## One Country, One Indicator

In [31]:
indicators = "NGDP_SA_XDC"
countries  = "US"
us_gdp = get_ifs_data(countries, indicators, "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 293 x 2 DataFrame

In [32]:
us_gdp.series

293×2 DataFrame
 Row │ date        value
     │ Date        Float64
─────┼───────────────────────────
   1 │ 1950-03-01  70207.0
   2 │ 1950-06-01  72595.8
   3 │ 1950-09-01  77038.3
   4 │ 1950-12-01  79986.3
   5 │ 1951-03-01  84000.0
   6 │ 1951-06-01  86022.5
   7 │ 1951-09-01  87846.3
   8 │ 1951-12-01  89044.5
   9 │ 1952-03-01  89955.0
  10 │ 1952-06-01  90257.5
  11 │ 1952-09-01  91925.3
  ⋮  │     ⋮             ⋮
 284 │ 2020-12-01      5.42618e6
 285 │ 2021-03-01      5.57846e6
 286 │ 2021-06-01      5.76173e6
 287 │ 2021-09-01      5.8876e6
 288 │ 2021-12-01      6.08728e6
 289 │ 2022-03-01      6.18512e6
 290 │ 2022-06-01      6.31212e6
 291 │ 2022-09-01      6.43099e6
 292 │ 2022-12-01      6.5345e6
 293 │ 2023-03-01      6.63244e6
                 272 rows omitted

In [33]:
us_gdp.indicator

"NGDP_SA_XDC"

In [34]:
us_gdp.frequency

"Q"

## Availability of Data

In [35]:
indic = "NGDP_SA_XDC"
area  = "US"
data_available = get_ifs_data(area, indic, "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 293 x 2 DataFrame

In [36]:
data_not_available = get_ifs_data(area, indic, "M", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

In [37]:
data_not_defined = get_ifs_data(area, "NGDP_SA", "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

## Filter Indicators

In [38]:
ifs_indicators = ifs_structure["Parameter Values"]["CL_INDICATOR_IFS"]
#gdp_indicators = @where(
gdp_indicators = @subset(
	ifs_indicators,
	occursin.("Gross Domestic Product", :description),
	occursin.("Domestic Currency", :description))

6×2 DataFrame
 Row │ parameter_value  description
     │ String           String
─────┼────────────────────────────────────────────────────
   1 │ NGDP_XDC         Gross Domestic Product, Nominal,…
   2 │ NGDP_SA_XDC      Gross Domestic Product, Nominal,…
   3 │ NGDP_NSA_XDC     Gross Domestic Product, Nominal,…
   4 │ NGDP_R_XDC       Gross Domestic Product, Real, Do…
   5 │ NGDP_R_SA_XDC    Gross Domestic Product, Real, Se…
   6 │ NGDP_R_NSA_XDC   Gross Domestic Product, Real, Un…

In [39]:
indicators = gdp_indicators[2,1]
countries  = "US"
us_gdp = get_ifs_data(countries, indicators, "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 293 x 2 DataFrame

In [40]:
us_gdp.series

293×2 DataFrame
 Row │ date        value
     │ Date        Float64
─────┼───────────────────────────
   1 │ 1950-03-01  70207.0
   2 │ 1950-06-01  72595.8
   3 │ 1950-09-01  77038.3
   4 │ 1950-12-01  79986.3
   5 │ 1951-03-01  84000.0
   6 │ 1951-06-01  86022.5
   7 │ 1951-09-01  87846.3
   8 │ 1951-12-01  89044.5
   9 │ 1952-03-01  89955.0
  10 │ 1952-06-01  90257.5
  11 │ 1952-09-01  91925.3
  ⋮  │     ⋮             ⋮
 284 │ 2020-12-01      5.42618e6
 285 │ 2021-03-01      5.57846e6
 286 │ 2021-06-01      5.76173e6
 287 │ 2021-09-01      5.8876e6
 288 │ 2021-12-01      6.08728e6
 289 │ 2022-03-01      6.18512e6
 290 │ 2022-06-01      6.31212e6
 291 │ 2022-09-01      6.43099e6
 292 │ 2022-12-01      6.5345e6
 293 │ 2023-03-01      6.63244e6
                 272 rows omitted

## Many Countries, One Indicator

In [41]:
function get_df(x)
    try
        df = countries_indicators[x].series
        df.country .= countries_indicators[x].area
        df.indicator .= countries_indicators[x].indicator
        df.frequency .= countries_indicators[x].frequency
        return df
    catch
        return DataFrames.DataFrame()
    end
end

get_df (generic function with 1 method)

In [42]:
indicators = "NGDP_SA_XDC"
countries  = ["US","CA","MX"]
countries_indicators = get_ifs_data(countries, indicators, "Q", 1900, 2100)

3-element Vector{IMFSeries}:
 IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 293 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: CA
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1961 to 2023
Data: 249 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: MX
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1993 to 2023
Data: 121 x 2 DataFrame

In [43]:
size(countries_indicators)[1]

3

In [44]:
get_df(3)

121×5 DataFrame
 Row │ date        value           country  indicator    frequency
     │ Date        Float64         String   String       String
─────┼─────────────────────────────────────────────────────────────
   1 │ 1993-03-01       3.76565e5  MX       NGDP_SA_XDC  Q
   2 │ 1993-06-01       3.82836e5  MX       NGDP_SA_XDC  Q
   3 │ 1993-09-01       3.94873e5  MX       NGDP_SA_XDC  Q
   4 │ 1993-12-01       4.06532e5  MX       NGDP_SA_XDC  Q
   5 │ 1994-03-01       4.20049e5  MX       NGDP_SA_XDC  Q
   6 │ 1994-06-01       4.36909e5  MX       NGDP_SA_XDC  Q
   7 │ 1994-09-01       4.52857e5  MX       NGDP_SA_XDC  Q
   8 │ 1994-12-01       4.72066e5  MX       NGDP_SA_XDC  Q
   9 │ 1995-03-01       5.02764e5  MX       NGDP_SA_XDC  Q
  10 │ 1995-06-01       5.54636e5  MX       NGDP_SA_XDC  Q
  11 │ 1995-09-01  600787.0        MX       NGDP_SA_XDC  Q
  ⋮  │     ⋮             ⋮            ⋮          ⋮           ⋮
 112 │ 2020-12-01       6.21223e6  MX       NGDP_SA_XDC  Q
 113 │ 2021-03-01       6.31166e6  MX       NGDP_SA_XDC  Q
 114 │ 2021-06-01       6.41393e6  MX       NGDP_SA_XDC  Q
 115 │ 2021-09-01       6.48423e6  MX       NGDP_SA_XDC  Q
 116 │ 2021-12-01       6.63676e6  MX       NGDP_SA_XDC  Q
 117 │ 2022-03-01       6.85656e6  MX       NGDP_SA_XDC  Q
 118 │ 2022-06-01       7.0825e6   MX       NGDP_SA_XDC  Q
 119 │ 2022-09-01       7.23083e6  MX       NGDP_SA_XDC  Q
 120 │ 2022-12-01       7.32208e6  MX       NGDP_SA_XDC  Q
 121 │ 2023-03-01       7.419e6    MX       NGDP_SA_XDC  Q
                                                   100 rows omitted

In [45]:
ndf = size(countries_indicators)[1]
df = map(_ -> DataFrames.DataFrame(), 1:ndf)
vcat([df[i] = get_df(i) for i in 1:ndf]...)

663×5 DataFrame
 Row │ date        value          country  indicator    frequency
     │ Date        Float64        String   String       String
─────┼────────────────────────────────────────────────────────────
   1 │ 1950-03-01  70207.0        US       NGDP_SA_XDC  Q
   2 │ 1950-06-01  72595.8        US       NGDP_SA_XDC  Q
   3 │ 1950-09-01  77038.3        US       NGDP_SA_XDC  Q
   4 │ 1950-12-01  79986.3        US       NGDP_SA_XDC  Q
   5 │ 1951-03-01  84000.0        US       NGDP_SA_XDC  Q
   6 │ 1951-06-01  86022.5        US       NGDP_SA_XDC  Q
   7 │ 1951-09-01  87846.3        US       NGDP_SA_XDC  Q
   8 │ 1951-12-01  89044.5        US       NGDP_SA_XDC  Q
   9 │ 1952-03-01  89955.0        US       NGDP_SA_XDC  Q
  10 │ 1952-06-01  90257.5        US       NGDP_SA_XDC  Q
  11 │ 1952-09-01  91925.3        US       NGDP_SA_XDC  Q
  ⋮  │     ⋮             ⋮           ⋮          ⋮           ⋮
 654 │ 2020-12-01      6.21223e6  MX       NGDP_SA_XDC  Q
 655 │ 2021-03-01      6.31166e6  MX       NGDP_SA_XDC  Q
 656 │ 2021-06-01      6.41393e6  MX       NGDP_SA_XDC  Q
 657 │ 2021-09-01      6.48423e6  MX       NGDP_SA_XDC  Q
 658 │ 2021-12-01      6.63676e6  MX       NGDP_SA_XDC  Q
 659 │ 2022-03-01      6.85656e6  MX       NGDP_SA_XDC  Q
 660 │ 2022-06-01      7.0825e6   MX       NGDP_SA_XDC  Q
 661 │ 2022-09-01      7.23083e6  MX       NGDP_SA_XDC  Q
 662 │ 2022-12-01      7.32208e6  MX       NGDP_SA_XDC  Q
 663 │ 2023-03-01      7.419e6    MX       NGDP_SA_XDC  Q
                                                  642 rows omitted

## Many Countries, Many Indicators

In [46]:
ifs_indicators = ifs_structure["Parameter Values"]["CL_INDICATOR_IFS"]
#gdp_indicators = @where(
gdp_indicators = @subset(
	ifs_indicators,
	occursin.("Gross Domestic Product", :description),
	occursin.("Domestic Currency", :description))
indicators = gdp_indicators[!,1]
countries  = ["GT","HN","SV","NI","CR","PA"]
countries_indicators = get_ifs_data(countries, indicators, "Q", 1900, 2100)

36-element Vector{IMFSeries}:
 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_NSA_XDC
Description:
Frequency: Q
Time Period: 2013 to 2022
Data: 40 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_R_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_R_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: GT
Indicator: NGDP_R_NSA_XDC
Description:
Frequency: Q
Time Period: 2013 to 2022
Data: 40 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 2000 to 2023
Data: 93 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_NSA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_R_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_R_SA_XDC
Description:
Frequency: Q
Time Period: 2000 to 2023
Data: 93 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: HN
Indicator: NGDP_R_NSA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: SV
Indicator: NGDP_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 ⋮
 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1991 to 2023
Data: 129 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_NSA_XDC
Description:
Frequency: Q
Time Period: 1991 to 2023
Data: 129 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_R_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_R_SA_XDC
Description:
Frequency: Q
Time Period: 1991 to 2023
Data: 129 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: CR
Indicator: NGDP_R_NSA_XDC
Description:
Frequency: Q
Time Period: 1991 to 2023
Data: 129 x 2 DataFrame

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_NSA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_R_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_R_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

 IMF Data Series
Database: IFS
Area: PA
Indicator: NGDP_R_NSA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

In [47]:
countries_indicators[3].series

40×2 DataFrame
 Row │ date        value
     │ Date        Float64
─────┼────────────────────────────
   1 │ 2013-03-01       1.03834e5
   2 │ 2013-06-01  102177.0
   3 │ 2013-09-01       1.02217e5
   4 │ 2013-12-01       1.08155e5
   5 │ 2014-03-01       1.09525e5
   6 │ 2014-06-01       1.09404e5
   7 │ 2014-09-01  111334.0
   8 │ 2014-12-01       1.17063e5
   9 │ 2015-03-01       1.179e5
  10 │ 2015-06-01       1.16185e5
  11 │ 2015-09-01  118716.0
  ⋮  │     ⋮             ⋮
  31 │ 2020-09-01       1.50074e5
  32 │ 2020-12-01       1.61708e5
  33 │ 2021-03-01       1.62333e5
  34 │ 2021-06-01  161194.0
  35 │ 2021-09-01       1.66217e5
  36 │ 2021-12-01       1.75824e5
  37 │ 2022-03-01       1.78476e5
  38 │ 2022-06-01       1.78229e5
  39 │ 2022-09-01       1.84388e5
  40 │ 2022-12-01       1.95016e5
                   19 rows omitted

In [48]:
ndf = size(countries_indicators)[1]
df = map(_ -> DataFrames.DataFrame(), 1:ndf)
[df[i] = get_df(i) for i in 1:ndf]
df = vcat(df...)
CSV.write(
    wd * "/IMFData_query.csv",
    delim = ";",
    df)
df

1010×5 DataFrame
  Row │ date        value           country  indicator       frequency
      │ Date        Float64         String   String          String
──────┼────────────────────────────────────────────────────────────────
    1 │ 2013-03-01       1.03834e5  GT       NGDP_NSA_XDC    Q
    2 │ 2013-06-01  102177.0        GT       NGDP_NSA_XDC    Q
    3 │ 2013-09-01       1.02217e5  GT       NGDP_NSA_XDC    Q
    4 │ 2013-12-01       1.08155e5  GT       NGDP_NSA_XDC    Q
    5 │ 2014-03-01       1.09525e5  GT       NGDP_NSA_XDC    Q
    6 │ 2014-06-01       1.09404e5  GT       NGDP_NSA_XDC    Q
    7 │ 2014-09-01  111334.0        GT       NGDP_NSA_XDC    Q
    8 │ 2014-12-01       1.17063e5  GT       NGDP_NSA_XDC    Q
    9 │ 2015-03-01       1.179e5    GT       NGDP_NSA_XDC    Q
   10 │ 2015-06-01       1.16185e5  GT       NGDP_NSA_XDC    Q
   11 │ 2015-09-01  118716.0        GT       NGDP_NSA_XDC    Q
  ⋮   │     ⋮             ⋮            ⋮           ⋮             ⋮
 1001 │ 2020-12-01       8.94797e6  CR       NGDP_R_NSA_XDC  Q
 1002 │ 2021-03-01       9.08539e6  CR       NGDP_R_NSA_XDC  Q
 1003 │ 2021-06-01       9.02505e6  CR       NGDP_R_NSA_XDC  Q
 1004 │ 2021-09-01       9.31163e6  CR       NGDP_R_NSA_XDC  Q
 1005 │ 2021-12-01       9.81791e6  CR       NGDP_R_NSA_XDC  Q
 1006 │ 2022-03-01       9.6828e6   CR       NGDP_R_NSA_XDC  Q
 1007 │ 2022-06-01       9.40296e6  CR       NGDP_R_NSA_XDC  Q
 1008 │ 2022-09-01       9.5455e6   CR       NGDP_R_NSA_XDC  Q
 1009 │ 2022-12-01       1.02119e7  CR       NGDP_R_NSA_XDC  Q
 1010 │ 2023-03-01       1.01233e7  CR       NGDP_R_NSA_XDC  Q
                                                       989 rows omitted

# Examples

In [49]:
datasets = IMFData.get_imf_datasets()

323×2 DataFrame
 Row │ dataset_id        dataset_name
     │ String            String
─────┼─────────────────────────────────────────────────────
   1 │ AFRREO            Sub-Saharan Africa Regional Econ…
   2 │ AFRREO201410      Sub-Saharan Africa Regional Econ…
   3 │ AFRREO201504      Sub-Saharan Africa Regional Econ…
   4 │ AFRREO201510      Sub-Saharan Africa Regional Econ…
   5 │ AFRREO201604      Sub-Saharan Africa Regional Econ…
   6 │ AFRREO201610      Sub-Saharan Africa Regional Econ…
   7 │ AFRREO201704      Sub-Saharan Africa Regional Econ…
   8 │ AFRREO201710      Sub-Saharan Africa Regional Econ…
   9 │ AFRREO201804      Sub-Saharan Africa Regional Econ…
  10 │ AFRREO201810      Sub-Saharan Africa Regional Econ…
  11 │ AFRREO201904      Sub-Saharan Africa Regional Econ…
  ⋮  │        ⋮                          ⋮
 314 │ WHDREO201604      Western Hemisphere Regional Econ…
 315 │ WHDREO201610      Western Hemisphere Regional Econ…
 316 │ WHDREO201704      Western Hemisphere Regional Econ…
 317 │ WHDREO201710      Western Hemisphere Regional Econ…
 318 │ WHDREO201804      Western Hemisphere Regional Econ…
 319 │ WHDREO201810      Western Hemisphere Regional Econ…
 320 │ WHDREO201904      Western Hemisphere Regional Econ…
 321 │ WHDREO201910      Western Hemisphere Regional Econ…
 322 │ WHDREO202010      Western Hemisphere Regional Econ…
 323 │ WoRLD             World Revenue Longitudinal Data …
                                           302 rows omitted

In [50]:
# Use @where macro from DataFramesMeta to filter based on dataset name
ds_ifs = DataFramesMeta.@subset(datasets, DataFrames.occursin.("IFS", :dataset_id))

71×2 DataFrame
 Row │ dataset_id        dataset_name
     │ String            String
─────┼─────────────────────────────────────────────────────
   1 │ IFS               International Financial Statisti…
   2 │ IFS_2017M08       International Financial Statisti…
   3 │ IFS_2017M09       International Financial Statisti…
   4 │ IFS_2017M10       International Financial Statisti…
   5 │ IFS_2017M11       International Financial Statisti…
   6 │ IFS_2017M12       International Financial Statisti…
   7 │ IFS_2018M01       International Financial Statisti…
   8 │ IFS_2018M02       International Financial Statisti…
   9 │ IFS_2018M03       International Financial Statisti…
  10 │ IFS_2018M04       International Financial Statisti…
  11 │ IFS_2018M05       International Financial Statisti…
  ⋮  │        ⋮                          ⋮
  62 │ IFS_2022M08       International Financial Statisti…
  63 │ IFS_2022M09       International Financial Statisti…
  64 │ IFS_2022M10       International Financial Statisti…
  65 │ IFS_2022M11       International Financial Statisti…
  66 │ IFS_2023M01       International Financial Statisti…
  67 │ IFS_2023M02       International Financial Statisti…
  68 │ IFS_2023M03       International Financial Statisti…
  69 │ IFS_2023M04       International Financial Statisti…
  70 │ IFS_2023M05       International Financial Statisti…
  71 │ IFS_DISCONTINUED  International Financial Statisti…
                                            50 rows omitted

In [51]:
ds_dot = DataFramesMeta.@subset(datasets, DataFrames.occursin.("DOT", :dataset_id))

26×2 DataFrame
 Row │ dataset_id  dataset_name
     │ String      String
─────┼───────────────────────────────────────────────
   1 │ DOT         Direction of Trade Statistics (D…
   2 │ DOT_2017Q1  Direction of Trade Statistics (D…
   3 │ DOT_2017Q2  Direction of Trade Statistics (D…
   4 │ DOT_2017Q3  Direction of Trade Statistics (D…
   5 │ DOT_2017Q4  Direction of Trade Statistics (D…
   6 │ DOT_2018Q1  Direction of Trade Statistics (D…
   7 │ DOT_2018Q2  Direction of Trade Statistics (D…
   8 │ DOT_2018Q3  Direction of Trade Statistics (D…
   9 │ DOT_2018Q4  Direction of Trade Statistics (D…
  10 │ DOT_2019Q1  Direction of Trade Statistics (D…
  11 │ DOT_2019Q2  Direction of Trade Statistics (D…
  ⋮  │     ⋮                       ⋮
  17 │ DOT_2020Q4  Direction of Trade Statistics (D…
  18 │ DOT_2021Q1  Direction of Trade Statistics (D…
  19 │ DOT_2021Q2  Direction of Trade Statistics (D…
  20 │ DOT_2021Q3  Direction of Trade Statistics (D…
  21 │ DOT_2021Q4  Direction of Trade Statistics (D…
  22 │ DOT_2022Q1  Direction of Trade Statistics (D…
  23 │ DOT_2022Q2  Direction of Trade Statistics (D…
  24 │ DOT_2022Q3  Direction of Trade Statistics (D…
  25 │ DOT_2022Q4  Direction of Trade Statistics (D…
  26 │ DOT_2023Q1  Direction of Trade Statistics (D…
                                       5 rows omitted

In [52]:
ifs_structure  = IMFData.get_imf_datastructure("IFS")

Dict{String, Any} with 2 entries:
  "Parameter Names"  => 5×2 DataFrame…
  "Parameter Values" => Dict{Any, Any}("CL_INDICATOR_IFS"=>1679×2 DataFrame…

## Search for GDP indicators

In [53]:
ifs_indicators = ifs_structure["Parameter Values"]["CL_INDICATOR_IFS"]
gdp_indicators = DataFramesMeta.@subset(
    ifs_indicators,
    DataFrames.occursin.("Gross Domestic Product", :description),
    DataFrames.occursin.("Domestic Currency", :description))
CSV.write(wd * "/ifs_gdp_indicators.csv", gdp_indicators; delim='\t')

"C:\\Directorio_Trabajo\\Julia\\IMFData/ifs_gdp_indicators.csv"

## Availability of Data

In [54]:
indic = "NGDP_SA_XDC"
area  = "US"
data_available = IMFData.get_ifs_data(area, indic, "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Description:
Frequency: Q
Time Period: 1950 to 2023
Data: 293 x 2 DataFrame

In [55]:
data_not_available = get_ifs_data(area, indic, "M", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA_XDC
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period

In [56]:
data_not_defined = get_ifs_data(area, "NGDP_SA", "Q", 1900, 2100)

IMF Data Series
Database: IFS
Area: US
Indicator: NGDP_SA
Time Period: 1900 to 2100
Note: Indicator not defined for the given area or time period